.footer{
  background: var(--base-color);
  padding: 4rem 2rem;
}

.container{
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.brand {
  a {
    display: block;
    color: var(--title-color);
    font: 700 2rem var(--title-font);
    margin-bottom: 0.75rem;
    span {
      color: var(--text-color-light)
    }
  }

  p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
  }
}

.social {
  color: var(--text-color-light);
  display: flex;
  align-items: center;
  justify-content: center;

  a {
  
    :hover {
      transition: transform 0.3s;
      transform: translateY(-8px)
    }

    & + a {
      margin-left: 2rem;
    }
  }
}

@media (max-width: 450px) {
  .footer{
    padding: 4rem 0.5rem;
  }
  .social {
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;

    a {
      & + a {
        margin-left: 0rem
      }
    }
  }
}